.list-group-item {
  padding: 0.3em;
  border: none;
}

#summary_controls li {
  list-style: none;
  padding: 0.5em 0.25em;
}

#summary_controls button {
  width: 100% !important;
}

#summary img, li img {
  width: 2em;
}
